<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" href="/css/editSkill.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <input type="hidden" id="user-id" th:value="${user.id}">
    <div class="header">
        <!-- <div class="header-title">My Portfolio</div> -->
        <a th:href="'/users/success/' + ${user.id}" class="header-title">My Portfolio</a>
        <button class="login-btn" onclick="window.location.href='/logout'">ログアウト</button>
    </div>
    <div class="content">
        <div class="main-container">
            <div class="dropdown-container">
                <select id="month-dropdown" class="month-dropdown"></select>
                <div class="dropdown-arrow">
                    <div class="arrow-up"></div>
                    <div class="arrow-down"></div>
                </div>
            </div>
            <div th:replace="fragments :: skillSection('バックエンド', ${backendSkills})"></div>
            <div th:replace="fragments :: skillSection('フロントエンド', ${frontendSkills})"></div>
            <div th:replace="fragments :: skillSection('インフラ', ${infraSkills})"></div>
        </div>
    </div>

    <div id="successModal" class="modal">
        <div class="modal-content">
            <div id="modalMessage" class="message-container"></div>
            <button id="closeModalButton" class="modal-button">編集ページに戻る</button>
        </div>
    </div>

    <div class="footer">
        portfolio site
    </div>
    <script src="/js/monthPulldown.js"></script>
    <script src="/js/timePulldown.js"></script>
    <script src="/js/charLimit.js"></script>
    <script src="/js/move.js"></script>
    <script src="/js/update.js"></script>
    <script src="/js/delete.js"></script>
    <input type="hidden" id="user-id" th:value="${user.id}">
</body>
</html>