<!-- <!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" href="/css/top.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-title">My Portfolio</div>
        <button class="login-btn" onclick="window.location.href='/logout'">ログアウト</button>
    </div>
    <div class="content">
            <div class="main-container">
                <div class="icon-container">
                    <div class="circle-icon">
                        <img src="/images/oVg3QVKWyBCBRNk1730167210_1730167281.jpg" alt="自己紹介画像">
                    </div>
                    </div>
                </div>
                
            
                <div class="intro-container">
                    <div class="intro-parent-container">
                        <div class="intro-title-container">
                            自己紹介
                        </div>
                    </div>
                    
                
                    <div class="intro-textarea-container">
                        <textarea class="intro-textarea" placeholder="ここに自己紹介を入力してください"></textarea>
                    </div>

                    <button class="intro-button">自己紹介を編集する</button>
                </div>
            </div>
    </div>
    <div class="footer">
        portfolio site
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" href="/css/top.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="header-title">My Portfolio</div>
        <button class="login-btn" onclick="window.location.href='/logout'">ログアウト</button>
    </div>
    <div class="content">
            <div class="main-container">
                <div class="icon-container">
                    <div class="circle-icon">
                        <img src="/images/oVg3QVKWyBCBRNk1730167210_1730167281.jpg" alt="自己紹介画像">
                    </div>
                    </div>
                </div>          
                <div class="intro-container">
                    <!-- <div class="intro-parent-container">
                        <div class="intro-title-container">
                            自己紹介
                        </div>
                    </div>
                    <div class="intro-textarea-container">
                        <textarea class="intro-textarea" placeholder="ここに自己紹介を入力してください"></textarea>
                    </div>
                    <button class="intro-button">自己紹介を編集する</button> -->
                </div>
            </div>
    </div>
    <div class="footer">
        portfolio site
    </div>
</body>
</html>